*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  
}
.entire{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.parent{
  box-sizing: border-box;
  margin:20px;
  height: 350px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  padding: 10px;
  box-shadow: 0px 4px 100px rgba(255, 255, 255, 0.262);
  display: flex;
  flex-direction: column;
}


.main{
  background-color: rgb(175, 211, 243);
  border-radius: 0.5rem;
  padding: 20px;
  flex: 1;
  
}

h1{
  margin: 0px 0px 10px;
}

#des{
  margin: 10px 5px 30px 0px;
  color: rgba(0, 0, 0, 0.749);

}
.extras{
  display: flex;
  flex-wrap: wrap;
}
.extra{
  border-radius: 1.5rem;
  color: rgba(0, 0, 0, 0.689);
  background-color: rgba(107, 199, 238, 0.625);
  padding:7px;
  margin: 3px;
}

.bottom{
  display: flex;
  padding: 15px 0px 10px 10px;
  margin-top: auto;
}

h3{
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: antiquewhite;
  border: none;
  padding: 5px;
  border-radius: 0.3rem;
}


